{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block head %}
<script type="text/javascript">
    // {# include "../static/price_diff_pct.js" #}
    {{ static_include("price_diff_pct.js") | safe }}
</script>
<link href="../static/price_diff_pct.css" rel="stylesheet">
{% endblock %}

{% block main %}
<table id="portfolio" class="table table-striped">
    <thead>
        <tr>
            {% for col in columns %}
                {% set align_class=text_alignment_classes[alignment[loop.index - 1]] %}
                <th class="{{ align_class }}">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in assets %}
            <tr>
                {% for field in row %}
                    {% if (loop.index - 1) in usd_columns %}
                        {% set cell_data=(row[field] | usd) %}
                    {% else %}
                        {% set cell_data=row[field] %}
                    {% endif %}
                    {% set align_class=text_alignment_classes[alignment[loop.index - 1]] %}
                    {# ! same prefix is used in js,css #}
                    <td class="assets_{{ field }} {{ align_class }}">{{ cell_data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="{{ columns | length - 1 }}">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="{{ columns | length - 1 }}">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ total | usd }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}
